
body {
    background: rgb(18,20,27);
    background: linear-gradient(300deg, rgba(18,20,27,1) 15%, rgba(49,49,49,0.9977668854633617) 100%);
    background-size: cover !important;
    position: relative;
    z-index: 0;
}

#the-batman-main-image {
    position: absolute;
    top: 0;
    left: 12rem;
    z-index: -1;
}

.nav-itens {
    transition: .2s ease-in-out;
    padding: 10px;
    letter-spacing: 0.15em;
    font-size: small;
}

.nav-itens:hover {
    color: rgb(250, 204, 21);
    border-bottom: solid 1px rgb(250, 204, 21);
}